{{ "## Questions?" | markdownify }}

<div class="book-columns flex flex-wrap">
{{ range split $.Inner "-*-" }}
<div class="flex-even markdown-inner">
    {{ . | markdownify }}
</div>
{{ end }}
</div>

{{ "***" | markdownify }}

{{ "## Not a developer?" | markdownify }}

{{ "Our engineers will help you [integrate PaySuper](https://docs.google.com/forms/d/e/1FAIpQLScQPU83wKPkJeui_WvxGDoXWLDL4vyD8GsWNqf9-ccwDg3dEw/viewform) into your existing e-commerce platform, a website or a game in the best possible way." | markdownify }}

{{ "If you want something very special and crazy custom yet don't have a suitable programmer available nearby - [talk to us](https://docs.google.com/forms/d/e/1FAIpQLScQPU83wKPkJeui_WvxGDoXWLDL4vyD8GsWNqf9-ccwDg3dEw/viewform)! We won't let down a PaySuper user. We will try to help you in every possible way. We can even hire a programmer for you!" | markdownify }}