{{ $.Inner }}
#### [Sales](https://docs.google.com/forms/d/e/1FAIpQLScQPU83wKPkJeui_WvxGDoXWLDL4vyD8GsWNqf9-ccwDg3dEw/viewform)
Our salespeople are pleasant and friendly. Leave your contact details, and we'll be back to you in no time. 
-*-
#### [Support](https://docs.google.com/forms/d/e/1FAIpQLScQPU83wKPkJeui_WvxGDoXWLDL4vyD8GsWNqf9-ccwDg3dEw/viewform)
We are always happy to help with a code, improve a guide or consider a feature.
-*-
#### [GitHub](https://github.com/paysuper)
The PaySuper Checkout Form, the JS SDK and even the server are available as a source code on our GitHub. You're welcome to explore the code and help us make PaySuper even better.